body{
    margin: 0%;
    padding: 0%;
    font-family: 'Roboto Serif', serif;
    background-color: #D9D9D9;
}

.b {
    display: flex;
    justify-content: center;
    align-items: center;
}

.c{
    display: flex;
    background-color: #D9D9D9;
    width: 30%;
    height: 800px;
    justify-content: center;
    align-items: center;
}

.d {
    display: flex;
    flex-direction: column;

    background-color: #EBEAEF;
    width: 380px;
    border-radius: 25px;
    height: 800px;
}

.box1{
    display: flex;
    margin: 10px;
    margin-top: 20px;
    flex-direction: row;
    background-color: #EBEAEF;
    justify-content: space-between;
    align-content: space-around;
    align-items:flex-start;

}

#mini{
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box2{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #EBEAEF;
}

.box2 img{
    margin: 10px;
    width: 60px;
    height: 60px;
    border-radius: 25px;
}

#section{
    display: flex;
    flex-direction: row;
}
.space2{
    margin-top: 10px;
}


.space3{
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: center;
    margin-right: -5px;
    padding-left: 30px
}
.space3 ion-icon{
    font-size:20px;
}


.box3{
    display: flex;
    flex-direction: row;
    width: 300px;
    height: 50px;
    background-color: white;
   
    border-radius: 15px;
    justify-content: space-between;
    margin: 10px;
    align-content: center;
    align-items: center;
}

#box3a{
    margin-left: 12px; color: grey;
}

#box3b{

    display: flex;
    justify-content: center;
    align-items: center;
    color: white;

    background-color: black;
    width: 100px;
    height: 30px;
    border-radius: 8px ;
    margin-right: 10px;

}

.box4{
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #EBEAEF;
}

#box4a{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
   height: 60px;
   align-content: center;
   align-items: center;
   margin: 10px;
}

hr{
    display: block;
    color: #1C1C1C;
    overflow: visible;
    z-index: 1;

}


.box5{
    display: flex;
    color: #EBEAEF;
   
    justify-content: center;
    align-items: center;
   
}

#boxhh{ 
    background-color: #1C1C1C;
     border-radius: 25px;
    width: 300px;
    height: 60px;
    display: flex;
    color: #D9D9D9;
   
    justify-content: center;
    align-items: center;
   margin: 10px;
    
}